<section class="content">
  <div class="container">
    <!--<div class="alert alert-success message" role="alert">-->
      <!--<strong class="message-success">Profile successfully updated</strong>-->
    <!--</div>-->
    <form class="needs-validation" #formProf="ngForm">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>

        <div class="col-sm-10">
          <input type="text" placeholder="Username" disabled id="username"
                 [(ngModel)]="user.username" name="username" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-sm-2 col-form-label">First Name</label>

        <div class="col-sm-10">
          <input type="text" placeholder="First Name"
                 [(ngModel)]="user.firstName"
                 id="firstname" name="firstName" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>

        <div class="col-sm-10">
          <input type="text" placeholder="Last Name"
                 [(ngModel)]="user.lastName" name="lastName" id="lastname" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>

        <div class="col-sm-10">
          <input type="tel" placeholder="xxx-xxx-xxxx" maxlength="12" pattern="^\d{3}-\d{3}-\d{4}$"
                 [(ngModel)]="user.phone" id="phone" name="phone" class="form-control" #phone="ngModel">
          <div [hidden]="phone.valid" class="mt-2 alert alert-danger">
            Please enter a valid phone number!! (Format: xxx-xxx-xxxx)
          </div>
        </div>

      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" placeholder="abc@xyz.com" email="true" [(ngModel)]="user.email"
                 id="email" name="email" class="form-control" #email="ngModel">
          <div [hidden]="email.valid" class="mt-2 alert alert-danger">
            Please enter a valid email!!
          </div>
        </div>
      </div>
      <div class="form-group row">

        <label for="address" class="col-sm-2 col-form-label">Address</label>

        <div class="col-sm-10">
          <input [(ngModel)]="user.address"
                 placeholder="street city state" name="address" id="address" class="form-control">
        </div>
      </div>

      <div class="form-group row" [hidden]="user.username=== 'admin' || user.username=== 'faculty' ">

        <label for="lisOfCourses" class="col-sm-2 col-form-label">List of courses</label>

        <div class="col-sm-10">

          <div class="row navbar  rounded m-1 navbar-expand-lg bg-secondary text-light mb-2" id="lisOfCourses">
            <div class="col">
              <strong>Course</strong>
            </div>
            <div class="col">
              <strong>Section Name</strong>
            </div>
            <div class="col">
              <strong>Maximum # of Seats</strong>
            </div>
            <div class="col">
              <strong>Available Seats</strong>
            </div>
            <div class="col">
              <strong>Grade</strong>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row bg-light m-1 text-dark p-1 " *ngFor="let section of studentSections">
            <div class="col">
              <a routerLink="/course/{{section.section.courseId}}/section">
                {{courseMap[section.section.courseId]!=undefined && courseMap[section.section.courseId].title}} </a>
            </div>
            <div class="col">
              {{section.section.name}}
            </div>
            <div class="col">
              {{section.section.maxSeats}}
            </div>
            <div class="col">
              {{section.section.availableSeats}}
            </div>
            <div class="col">
              {{section.grade}}
            </div>
            <div class="col">
              <button [disabled]="user==null" class="float-right btn btn-danger"
                      (click)="unenroll(section.section)">Un-Enroll
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="form-group row">-->
      <!--<label for="role" class="col-sm-2 col-form-label">Role</label>-->

      <!--<div class="col-sm-10">-->
      <!--<select id="role" class="form-control" [(ngModel)]="user.role" name="role" >-->
      <!--<option value="" selected >Select a role</option>-->
      <!--<option value="FACULTY" >Faculty</option>-->
      <!--<option value="STUDENT">Student</option>-->
      <!--<option value="ADMIN">Admin</option>-->

      <!--</select>-->

      <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group row">-->

      <!--<label for="dob" class="col-sm-2 col-form-label">Date Of Birth</label>-->

      <!--<div class="col-sm-10">-->
      <!--<input type="date" [(ngModel)]="user.dateOfBirth"-->
      <!--placeholder="1991-03-08" name="dateOfBirth" id="dob" class="form-control">-->
      <!--</div>-->
      <!--</div>-->

      <div class="form-group row">
        <span class="col-sm-2"></span>
        <div class="col-sm-10 d-inline-block">
          <div class="py-1">
            <button type="button" [disabled]="!formProf.form.valid" class="btn btn-success form-control" (click)="update(user)" id="update">Update
            </button>
          </div>
          <div class="py-1">
            <button type="button" class="btn btn-danger form-control" (click)="logout()" id="logout">Logout</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
