<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand " href="#"><i class="fas fa-book-open fa-2x"></i></a>
    <a class="navbar-brand " href="#"><h1 class="title">Course Manager</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="btn btn-dark" [routerLinkActive]="['active']" routerLink="/home" >Home </a>
          <!--<span class="sr-only">(current)</span>-->
        </li>
        <li class="nav-item">
        <a [hidden]="(user === null)" class="btn btn-dark ml-2" [routerLinkActive]="['active']" routerLink="/profile" >Profile</a>
      </li>
        <li class="nav-item">
          <a [hidden]="!(user != null && user.username === 'admin')" class="btn btn-dark ml-2"
             [routerLinkActive]="['active']" routerLink="/admin" >Admin</a>
        </li>
        <li class="nav-item">
          <a [hidden]="!(user != null && user.username === 'faculty')" class="btn btn-dark ml-2"
             [routerLinkActive]="['active']" routerLink="/faculty" >Faculty Access</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
        <button [hidden]="!(user === null)" class="btn btn-dark my-2 my-sm-0 mr-2" routerLink="/login" [routerLinkActive]="['active']"
        type="button">Login</button>

        <h5 [hidden]="user===null"class="text-light my-1 mr-1"><i [hidden]="user===null" class="fa fa-user text-light"></i>
          {{user!=null && user.username}}</h5>
        <button [hidden]="user===null" class="btn btn-dark my-2 my-sm-0 mr-2" (click)="logout()"
                type="button">Logout</button>
        <button class="btn btn-dark my-2 my-sm-0 mr-2" routerLink="/register" [routerLinkActive]="['active']"
        type="button">Sign Up</button>
      </form>
    </div>
  </nav>
</header>

<div class="mainContainer">
  <router-outlet (activate)="sessionCheck()" ></router-outlet>
</div>
<footer class="footer bg-dark">
  <div class="container text-center">
    <span class="text-muted">@copyright Shubham Rastogi</span>
  </div>
</footer>
