<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <i class="btn fa fa-2x fa-times text-light mr-3" routerLink="/home"></i>
  <a class="navbar-brand" href="#">{{course.title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<app-module-list></app-module-list>
