<div  class="border rounded mt-3" [hidden]="!(widgets!=null  &&  widgets.length>0)" >
  <div *ngFor="let widget of widgets" class="border-bottom p-3">
    <div [ngSwitch]="widget.widgetType">
      <div *ngSwitchCase="'Heading'">
        <div [ngSwitch]="widget.size">
          <!--<h1>Heading</h1>-->
          <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
          <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
          <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
          <h4 *ngSwitchCase="'4'">{{widget.text}}</h4>
          <h5 *ngSwitchCase="'5'">{{widget.text}}</h5>
          <h6 *ngSwitchCase="'6'">{{widget.text}}</h6>
        </div>
      </div>
      <div *ngSwitchCase="'Link'">
        <!--<h1>Link</h1>-->
        <a href="{{widget.href}}">{{widget.text}}</a>
      </div>
      <div *ngSwitchCase="'Paragraph'">
        <!--<h1>Paragraph</h1>-->
        <p>{{widget.text}}</p>
      </div>
      <div *ngSwitchCase="'List'">
        <!--<h1>ListWidget</h1>-->
        <ul class="list-group">
          {{widget.text}}
          <li class="list-group-item"
              *ngFor="let item of widget.listItems.split('\n')">
            {{item}}
          </li>
        </ul>
      </div>
      <div *ngSwitchCase="'Image'">
        <!--<h1>Image</h1>-->
        <img src="{{widget.src}}" width="40%" height="40%" title={{widget.text}}/>
      </div>
      <div *ngSwitchCase="'Exam'">
        <h1>{{widget.title}}</h1>
        <div class="row bg-secondary"  *ngFor="let item of widget.questions" ></div>
      </div>
      <div *ngSwitchCase="'Assignment'">
        <h1>{{widget.title}}</h1>
        <div class="my-3">
            Assignment Description
        </div>
        <div><textarea row="5" class="form-control" placeholder="Enter answer">

        </textarea> </div>
        <div class="row  bg-white px-1 py-2 mx-1 my-2 border rounded">
          <div class="col float-left">
            <button class="btn btn-dark">Upload File</button>
          </div>
        </div>
          <!--<div class="input-group mb-3">-->
            <!--<div class="input-group-prepend">-->
              <!--<button class="btn m-1" id="basic-addon1">Browse File</button>-->
            <!--</div>-->
            <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
          <!--</div>-->
        <div class="">
          <input class="form-control" placeholder="Submit Link" >
        </div>
      </div>
    </div>
  </div>
</div>
