<div class="row">
  <div class="col-4 bg-light p-3 rounded">
    <ul class="list-group">
      <li class="list-group-item bg-dark text-light">Modules</li>
      <li [ngClass]="{'active': module.id == moduleId}" *ngFor="let module of modules"
          class="list-group-item wbdv">
        <a routerLink="/course/{{courseId}}/module/{{module.id}}">
          {{module.title}}</a>
      </li>
    </ul>
  </div>
  <div class="col-8 bg-light p-3 rounded">
    <app-lesson-tabs></app-lesson-tabs>
  </div>
</div>
