<div class="p-5 bg-light rounded ">
  <div class="row">
    <div *ngFor="let course of courses" class="col-sm-3">
      <div class="card mt-2 mb-2">
        <img class="card-img-top" src="../../../assets/images/image1.jpg" alt="Card Image Cap"/>
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <!--<small class="text-muted">Modified: Today</small>-->
        </div>
        <div class="card-footer">
          <a routerLink="/course/{{course.id}}/enroll" class="btn btn-dark float-left " href="#">Enroll</a>
          <a routerLink="/course/{{course.id}}" class="btn btn-dark float-right " href="#">View</a>
        </div>

      </div>
    </div>
  </div>
</div>
